      
<nav class="navbar navbar-inverse topNav" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">MOCK App</a>
    </div>
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn" ng-class="{active: title=='member'}" ng-click="optionClicked('member')"><a ui-sref="member">Members</a></li>
     </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ng-hide="isLoggedIn" ng-class="{active: title=='signup'}" ng-click="optionClicked('signup')"><a ui-sref="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li ng-hide="isLoggedIn" ng-class="{active: title=='home'}" ng-click="optionClicked('home')"><a ui-sref="home"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li ng-show="isLoggedIn"><a href="#">{{currentUser.name}}</a></li>
      <li ng-show="isLoggedIn" ng-click="logout('home')"><a ui-sref="home">Logout</a></li>
    </ul>
  </div>
</nav>